<div class="row">
    <div class="col-5">
        <div class="container-fluid" id="main-container">
            <h1>Fill your details</h1>
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input required minlength="2" maxlength="10" ngModel name = "name" #name="ngModel" type="text" class="form-control" id="name" placeholder="enter your name here">
                    <div class="alert alert-danger" *ngIf="name.touched && !name.valid">Your name is required</div>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input ngModel name = "email" id="email" #email = "ngModel" type="email" class="form-control" placeholder="enter your email" required>
                    <div class="alert alert-danger" *ngIf="email.touched && !email.valid">Please enter your email</div>
                </div>
                <div class="form-group">
                    <label for="quote">Quotes</label>
                    <textarea ngModel name="quote" #quote = "ngModel" id="quote" class="form-control" placeholder="type your quote here Hermano..." required></textarea>
                    <div class="alert alert-danger" *ngIf="quote.touched && !quote.valid">Please write your quote...</div>
                </div>
                <button type="submit" class="btn btn-success mt-3">Post</button>
            </form>
        </div>
    

    </div>
    
</div>

